.coa-input-top {
width: 250px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 8px;
font-size: 16px;
margin-bottom: 20px;
}

.coa-center-wrap {
width: 100%;
display: flex;
flex-direction: column;
align-items: left;
}

.coa-card {
  width: 90%;
  background: white;
  border-radius: 12px;
  padding: 20px;
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  gap: 25px; 
}

.coa-card h3 {
    color: #000000; 
}

.coa-card::-webkit-scrollbar {
  width: 10px; 
}

.coa-card::-webkit-scrollbar-track {
  background: #f0f0f0; 
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.coa-card::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; 
  border-radius: 8px;
  border: 2px solid #f0f0f0; 
}

.coa-card::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.coa-section-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

.coa-section-table th,
.coa-section-table td {
  border: 1px solid #000000;
  padding: 10px;
  color: black;
  text-align: left;
  font-size: 15px;
}

.section-header {
  background: #eaeaea;
  font-weight: 700;
  font-size: 17px;
  text-align: left;
  color: black;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 25px;
  border-radius: 12px;
  min-width: 300px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.modal label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 14px;
}

.modal input, .modal select {
  margin-top: 5px;
  padding: 8px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
