/* disbursement form */
.form-card {
  background: var(--panel-bg);
  border: 1px solid #030303;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 0 rgba(0,0,0,0.04);
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  height: 500px;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: #030303;
}

.form-row.inline {
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.form-row label {
  font-weight: 600;
}

.form-row input,
.form-row select,
.form-row textarea {
  padding: 8px 10px;
  border: 1px solid #777;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fff;
  color:#030303;
}

.form-row textarea {
  resize: none;       
  overflow-y: auto;   
  overflow-x: hidden; 
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.btn {
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.btn.cancel {
  background: #c77;
  color: white;
}

.btn.submit {
  background: #3b7a3b;
  color: white;
}

.form-row textarea::-webkit-scrollbar {
  width: 8px;
}
.form-row textarea::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.12);
  border-radius: 6px;
}

.error-holder {
  height: 5px;
  margin-top: 2px;
  position: relative;
}

.error-text {
  color: red;
  font-size: 12px;
  position: absolute;
}